.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand
        さくらマーケット
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to '買い物をする', shopping_index_path
        %li
          = link_to 'カートを見る', cart_path
        %li
          = link_to 'プロフィール', profiles_path

